<!-- Lets render the "layout" template -->
{% extends 'layout.html' %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='javascript/table.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='styles/datatable.css') }}">

<div class="table">
    <table class="display" id="example">
        <thead>
            <tr>
                <th>TestID</th>
                <th>PatientID</th>
                <th>Date Taken</th>
                <th>Test Data</th>
                <th>Questionaire</th>
            </tr>
        </thead>
    
        <tbody>
        {% for item in tableData %}
            <tr>
                <td>{{ item['TestID'] }}</td>
                <td>{{ item['PatientID'] }}</td>
                <td>{{ item['DateTaken'] }}</td>
                <td>            
                    <a href="{{ url_for('static', filename='images/Test_Data.csv') }}" download> Download </a>
                </td>
                <td>            
                    <a href="{{ url_for('static', filename='images/Test_Data.csv') }}" download> Download </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}