.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.error {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%) translateY(-50%);
}

body {
    background-color: #e5e5da;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 60px;
   background-color: #343a40;
   color: white;
   text-align: center;
}

.footer p {
    display: inline;
    padding: 20px 25px;
}
