<!-- Lets render the "layout" template -->
{% extends 'layout.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/centered.css') }}">
  <div class="centered">
    
    <table class="table table-secondary">
      <thead>
        <tr>
          <th scope="col">Test Name</th>
          <th scope="col">Download Link</th>
        </tr>
      </thead>
      <tbody>
        {% for item in file_data %}
        <tr>
          <td>{{item.name}}</td>
          <td><a href="/settings/download/{{item.name}}" download>Download</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <a class="btn btn-primary" href="/settings/upload">Upload</a>
    
</div>

{% endblock %}