<!--Page to reset a user's password - *currently does not do anything, not connected to website
	will be emailed as a temp link - stretch goal* -->

<!-- Lets render the "layout" template -->
{% extends 'layoutForForgotPW.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">

<form method="post" role="form" action="{{ url_for('login.reset_pw', token=token) }}">
	<!--Enables login form-->
      {{ form.csrf_token }}
	<div class="text-center">
	  <h2>Password Reset</h2>
	  <hr>
	</div>
	<div class="form-group">
	 	{{ form.password_first.label }}
	 	{{ form.password_first(class_="form-control") }}
	</div>
	<div class="form-group">
		{{ form.password_confirm.label }}
		{{ form.password_confirm(class_="form-control") }}
	</div>
	{{ form.submit(class_="btn btn-primary") }}
  </form>

  
{% endblock %}